*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.sidebar{
    width: 180px;
    height: 700px;
    background-color: rgb(3, 14, 45);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
 } 
 
 .sidebar-top,
 .sidebar-center,
 .sidebar-bottom{
    width: 80%; 
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
       
 }
 .sidebar-bottom{
     border: none;
     justify-content: center;
 }
 .logo{
     font-size: 24px;
     margin-right: 10px;
     cursor: pointer;
     padding-left: 10px;
    
 }
 .brand{
     font-weight:bold;
     cursor: pointer;

 }
 .list{
     list-style: none;
     padding: 0;
     width: 800px;

 }
 .list-item{
     margin-bottom: 10px;
     font-size: 14px;
     font-weight: 500;
     cursor: pointer;
     
     padding: 10px;
     border-radius: 10px;
 }
 .list-item-icon{
     width: 30px;
     font-size: 20px;

 }
 .list-item:hover,
 .list-item.active{
     background-color:lightseagreen;
     color: aliceblue;
 }
 .color-box{
    width: 20px;
    height: 20px;
    border: 1px solid rosybrown;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

 .dark{
     background-color: black;
 }
 .night{
     background-color: darkslateblue;
 }
 .light{
     background-color: white;
 }
 @media only screen and (max-width:768px){
     .sidebar{
         width: 50px;
     }
     .brand,.list-item-text{
         display: none;
     }
     .sidebar-bottom{
         flex-direction: column;
        
     }
     .color-box{
         margin-bottom: 10px;
         margin-right: 0px;
     }
 }
 .sidebar.night{
     background-color:darkslateblue ;
     color: aliceblue;
 }
 .list-item.active.night{
     background-color: darkslateblue;
 }
 .sidebar.light{
    background-color:white ;
    color: black;
}
.list-item.active.light{
    background-color: white;
    color: black;
}



